*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #006cff, #0072ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    color: #333;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
}

li{
    margin-bottom: 10px;
    font-size: 14px;
}